<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Сайт учеников компании</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container main-header">
        <a href="/index"> <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" height="60px"></a>
        <span class="header-text">{% block header_text %}{% endblock %}</span>
    </div>
    <div class="workers-info">
        {% block info %}{% endblock %}
    </div>
</body>

</html>