<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style_page.css">
    <link rel = "icon" href = "static/img/favicon_new1.ico" type="image/x-icon">
    <title>Образование в Швейцарии | Среднее и высшее образование |Условия поступления и обучения | Спецпроект Forbes Education</title> 
</head>
<body>
    <div class = "header">

        <a href = "/">
            <img class="t451__logo__img" src="static/img/Forbes_Education_Whi.png" imgfield="img" style="max-width: 200px;margin-top: 35px;" alt="">
        </a>
        <div><a href = "/index" , class  = "link", style="margin-left: 800px;"> ученики</a></div>
    </div>
    <div class = "midl">
        <div class="text_s_ed" style="line-height: 79px;">
            ОБРАЗОВАНИЕ
            <br>
            В ШВЕЙЦАРИИ
        </div>
        <div class="spec_project" style="line-height: 34px;">
            специальный проект Forbes Education
        </div>
        <div class ="s1"></div>
        <div class ="s2" ></div>
        <div class ="line"></div>        
    </div>
    <div style = "height: 50px;background-color: #f02d37">
        <nav>
            <ul >
            <li>
                <a href="" class ="link" style="padding:0 15px 0 0;">Общая информация</a>
            </li>
            <li>
                <a href="" class ="link" style="padding:0 15px;">Преимущества обучения в Швейцарии</a>
            </li>
            <li>
                <a href="" class ="link" style="padding:0 0 0 15px;">ОБРАЩЕНИЕ ПОСЛА ШВЕЙЦАРИИ В РОССИИ</a>
            </li>
            </ul>
        </nav>
    </div>
    <div style = "height: 50px;background-color: #f02d37">
        <nav>
            <ul >
            <li>
                <a href="" class ="link" style="padding:0 15px 0 0;">Высшае образование</a>
            </li>
            <li>
                <a href="" class ="link" style="padding:0 15px;">Среднее образование</a>
            </li>
            <li>
                <a href="" class ="link" style="padding:0 0 0 15px;">Партнеры спецпроекта</a>
            </li>
            <li>
                <a href="" class ="link" style="padding:0 0 0 15px;">Разделы спецпроекта</a>
            </li>
            <li>
                <a href="" class ="link" style="padding:0 0 0 15px;">Интервью</a>
            </li>
            </ul>
        </nav>
    </div>
    <div class ="main_text"> 
        <div class = "main_title" field="subtitle">
            По данным UNESCO, ежегодно на обучение в Швейцарию приезжает порядка тысячи российских студентов
        </div>
        <div class = 'main_lines'>
        <br>
        <br>
            Знаменитая своим политическим нейтралитетом, высоким качеством жизни и прекрасной альпийской природой, Швейцария привлекает не только родителей, которые отправляют детей в знаменитые на весь мир швейцарские школы-пансионы, но и выдающихся ученых и преподавателей со всех концов света. Исключительная оснащенность и «звездный» преподавательский состав ставят швейцарские учебные заведения в число лучших в мире.
        <br>
        <br>
            Государственные вузы Швейцарии занимают топовые позиции в списках лучших научно-исследовательских центов мира. Среди технических направлений, которые стоит изучать в Швейцарии – физика, архитектура, география, инженерия, естественные науки, информатика, компьютерные науки.
        <br>
        <br>
            Два самых распространённых направления в частных вузах – бизнес и гостеприимство. 
        <br>
        <br>
            Большинство швейцарских бизнес-школ частные. В отличие от российских, они обучают как по программам МВА, так и бакалавриата и магистратуры. Одна из самых популярных программ в бизнес-школах – International Management – сочетает изучение бизнеса и международных отношений, что не удивительно, ведь в Швейцарии расположены штаб-квартиры ООН, ВОЗ, Красного Креста, ЮНЕСКО и многих других международных организаций. Студенты бизнес-школ получают возможность пройти в них стажировку или устроиться на работу. 
        <br>
        <br>
            Наконец, Швейцария – родина индустрии гостеприимства. Здесь располагаются элитные университеты, обучающие отельному и ресторанному менеджменту, организации мероприятий (в том числе, масштаба чемпионатов мира по футболу), управлению люксовыми брендами и другим направлениям клиентского сервиса.
        <br>
        </div>
    </div>

    <div style = "box-sizing: content-box;padding-top:30px;padding-bottom: 60px">
    <ul class = "swiss" >
        <li class = "swiss_li">
            <div>
                <img src = "static/img/swiss.png" imgfield="img" style="width:60px;">
            </div>
            <div class = "swiss_t">Швейцария задает тренды в школьном образовании.</div>
            <div class = "swiss_cont">Здесь родился и работал основоположник теории когнитивного развития Жан Пьяже; именно в Швейцарии в 1950-х годах появилась одна из самых престижных и уважаемых во всем мире программ среднего образования – Международный Бакалавриат (IB).</div>
        </li>
        <li class = "swiss_li">
            <div>
                <img src = "static/img/swiss.png" imgfield="img" style="width:60px;">
            </div>
            <div class = "swiss_t">Страна активно инвестирует в образование и науку.</div>
            <div class = "swiss_cont">С 2021 по 2025 гг. швейцарское правительство планирует потратить на поддержку образования, исследовательской деятельности и инноваций 28,1 млрд франков (25,9 млрд евро).</div>
        </li>
            <li class = "swiss_li">
            <div>
                <img src = "static/img/swiss.png" imgfield="img" style="width:60px;">
            </div>
            <div class = "swiss_t">В Швейцарии всего 12 государственных вузов.</div>
            <div class = "swiss_cont">11 из них входят в топ-500, а 5 – в топ-100 лучших университетов мира. Две федеральные технические школы – ETH Zurich и EPF Lausanne – занимают 8 и 14 строчки, соответственно.</div>
        </li>
            <li class = "swiss_li_2" style="margin-top: 70px">
            <div>
                <img src = "static/img/swiss.png" imgfield="img" style="width:60px;">
            </div>
            <div class = "swiss_t">Обучение в государственных вузах Швейцарии стоит всего около 1500 франков в год (1390 евро)</div>
            <div class = "swiss_cont">Правда, образование в этой стране все равно доступно далеко не всем: из-за высоких цен на проживание общие расходы окажутся не ниже 15 000 франков в год.</div>
        </li>
            <li class = "swiss_li_2">
            <div>
                <img src = "static/img/swiss.png" imgfield="img" style="width:60px;">
            </div>
            <div class = "swiss_t">4 из 5 лучших школ гостеприимства в мире находятся в Швейцарии, все они частные.</div>
            <div class = "swiss_cont">Стоимость обучения в самых престижных из них может доходить до 55 000 швейцарских франков за год (50 000 евро). В числе студентов школ гостеприимства – дети элиты со всех уголков Земли.</div>
        </li>
            <li class = "swiss_li_2">
            <div>
                <img src = "static/img/swiss.png" imgfield="img" style="width:60px;">
            </div>
            <div class = "swiss_t">В Швейцарии очень развита культура предпринимательства.</div>
            <div class = "swiss_cont">Стоимость обучения в самых престижных из них может доходить до 55 000 швейцарских франков за год (50 000 евро). В числе студентов школ гостеприимства – дети элиты со всех уголков Земли.</div>
        </li>
    </ul>
    </div>

    <div class = 'after_swiss'>
        <div class = "after_swiss_t1">
            <div class = "after_swiss_t2">
                <div class = "after_swiss_text">
                    В спецпроекте «Образование в Швейцарии» Forbes Education расскажет обо всем, что важно знать о школах-пансионах, государственных и частных вузах Швейцарии, самых востребованных направлениях обучения, вступительных требованиях и жизни в этой стране. 
                    <br>
                    <br>
                    В этом разделе вы найдете обзоры учебных заведений, личные истории выпускников, советы по выбору школы или университета, рекомендации по поступлению на программы бакалавриата, магистратуры и PhD, информацию о стипендиях и визовых особенностях Швейцарии.
                    <br>
                    <br>
                    <br>
                    <br>                    
                </div>
            </div>
        </div>
    </div>

    <div class = "late"> 
        <div class = "late_t_cont">
            <div class = "late_t">
                Мне доставляет особое удовольствие обращаться к читателям этого проекта, поскольку он рассказывает об особенностях моей страны, которые могут быть не так хорошо известны за рубежом. Для иностранца Швейцария традиционно ассоциируется с банками, шоколадом, сыром, часами и курортами мирового уровня. Это абсолютная правда, которая, однако, не дает полного представления о моей стране.
                <br>
                <br>
                Я надеюсь, что этот проект поможет вам узнать больше о Швейцарии как о научной державе и одном из мировых лидеров в сфере образования.
            </div>
        </div>
        <div class = "kov_cont">
            <div class = "kov">
                <img src = "static/img/kovi.png">
            </div>
            
        </div>
        <div class = "name_posol_cont">
            <div class = "late_t">
                <strong>Кристина Марти Ланг</strong>
                <br>
                Посол Швейцарии в России
                <br>               
            </div>
        </div>
        <div class = "ful_message_cont">
            <a class = "full_message">полный текст обращения</a>
        </div> 
        <div class = "posol_photo_cont">
            <div class = "posol_photo"></div> 
        </div>  
    </div>
    <div class ="main_text"> 
        <div class = "main_title" style="color:black;">
            Спецпроект создан при участии:
        </div>
    </div> 
    <div style = "box-sizing: content-box;padding-top:30px;padding-bottom: 60px">
    <ul class = "swiss" >
        <li class = "swiss_li" style="position: relative">
            <div>

            <div class = "swiss_t">Посольства Швейцарской конфедерации в Российской Федерации</div>
            <div class ="line2"></div> 
            <div class = "swiss_cont">В качестве официального представительства Швейцарии за рубежом Посольство занимается всеми вопросами, которые связаны с дипломатическими отношениями между двумя странами.</div>
        </li>
        <li class = "swiss_li">

            <div class = "swiss_t">Swiss Learning
ассоциация учебных заведений Швейцарии</div>
            <div class ="line2"></div> 
            <div class = "swiss_cont">Swiss Learning - официальное представительство швейцарских частных школ, обучение в которых возможно в формате пансиона, дневной школы или краткосрочной летней программы.</div>
        </li>
            <li class = "swiss_li">
            <div class = "swiss_t">SwissEdu+
образовательный консалтинг</div>
            <div class ="line2"></div> 
            <div class = "swiss_cont">Swissedu+ разрабатывает академические стратегии для тех, кто рассматривает обучение и трудоустройство в Швейцарии в долгосрочной перспективе, а также всячески способствует интеграции в швейцарскую культуру и общество.</div>
        </li>

    </ul>
    </div>
    <div class = "midl2">
        <div class="text_s_ed" style="line-height: 79px;">
            ОБРАЗОВАНИЕ
            <br>
            В ШВЕЙЦАРИИ
        </div>
        <div class="spec_project" style="line-height: 34px;">
            специальный проект Forbes Education
        </div>
        <div class ="s11"></div>
        <div class ="s22" ></div>        
    </div>
    <div class = "footer">
        <div class = "f_cont">
            <div style="color:#4ab5fc;">
                <strong>Политика конфиденциальности</strong>
            </div>
        © 2024 Обучение, образование в России и за рубежом. Forbes Media LLC. Все права защищены.
        <br>
        </div>
    </div>
    <div class = "footer" style="height: 200px">
        <div class = "f_cont">
            <div style="color:#4ab5fc;    font-size: 28px;">
                <strong>Подписаться на рассылку</strong>
            </div>
            <div class = "inp">
            <input type="text" name="email" value="" placeholder="E-mail" >

            <button type="submit">ПОДПИСАТЬСЯ</button>

            </div>
        <br>
        </div>
    </div>   
</body>
</html>


